{% extends 'base.html.twig' %}

{% block title %}Nous Contacter
{% endblock %}
{% block body %}

{{ form_start(form) }}

<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
             <h1 class="text-center mb-4">Contactez-nous</h1>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Email address</label>
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
			</div>
		</div>
	</div>

	{{ form_end(form) }}

	{# <div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
				{{ form_widget(form) }}
			</div>
		</div>
















{% endblock %}

	{# <div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-8">
             <h1 class="text-center mb-4">Contactez-nous</h1>
				<div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">Email address</label>
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
				</div>
				<div class="mb-3">
					<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
			</div>
		</div>
	</div> #}