{% extends 'base.html.twig' %}

{% block title %}Véhicule : {{ vehicules.nom }}{% endblock %}

{% block body %}
 <div class="container mt-4">
        <div class="row">
        <h1 class="mb-4">Véhicule : <strong>{{ vehicules.nom }}</strong></h1>
         {% for vehicules in vehicule %}
            {% endfor %}
         
    </div>


{% endblock %}
