{% extends 'base.html.twig' %}

{% block title %}Véhicule :
	<h1>
		nom du vehicule</h1>
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
			<h1 class="text-center mb-4">Notre Catalogue de Véhicules</h1>
			{% for vehicule in vehicules %}

				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img src="{{ asset('images/' ~ vehicule.imagePrincipale) }}" class="card-img-top" alt="{{ vehicule.nom }}"style="height: 225px; object-fit: cover;">
						<div class="card-body">
							<h5 class="card-title">{{ vehicule.nom }}</h5>


						</div>
					</div>
				</div>
			</div>

		{% endfor %}
	{% endblock %}
