{% extends 'base.html.twig' %}

{% block title %}Véhicule :
	<h1> nom du vehicule</h1>
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
		<h1 class="text-center mb-4">Notre Catalogue de Véhicules</h1>
			{% for vehicule in vehicules %}{% endfor %}
				<strong>{{ vehicule.nom }}</strong>

		</div>


	{% endblock %}
