{% extends 'base.html.twig' %}

{# Le titre de l'onglet du navigateur, sans HTML #}
{% block title %}Notre Catalogue de Véhicules{% endblock %}

{% block body %}
    <div class="container mt-4">
       
        <h1 class="text-center mb-3">Notre Catalogue de Véhicules</h1>
        
        {# L'étagère qui va contenir toutes nos cartes #}
        <div class="row">

            {# La boucle qui crée une boîte (col-md-4) pour chaque véhicule #}
            {% for vehicule in vehicules %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ asset('images/' ~ vehicule.imagePrincipale) }}" class="card-img-top" alt="{{ vehicule.nom }}" style="height: 225px; object-fit: cover;">
                        <div class="card-body">
                          
                           
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}