{% extends 'base.html.twig' %}

{% block title %}
	Détails du véhicule
{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="row">

			<div class="col-md-8">
            <img src="{{ asset('images/' ~ vehicule.imagePrincipale) }}" class="img-fluid rounded" alt="{{ vehicule.nom }}">
            
            </div>
            
            
            <div class="col-md-4"></div>

		</div>


	</div>


{% endblock %}
