<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoRent</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded shadow-sm mb-1">
        <div class="container-fluid">
            <!-- Logo positionné à gauche -->
            <a class="navbar-brand" href="#">AutoRent</a>

            <!-- Bouton burger positionné à droite -->
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="bar-toggler-icon"><"></span>
            </button>

            <!-- Contenu du menu -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Menu principal centré -->
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">Nos Véhicules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#">Contact</a>
                    </li>
                </ul>

                <!-- Boutons positionnement de mes boutons à droite -->
                <div class="btn-container d-flex">
                    <a href="{{ path('app_login') }}" class="btn btn-outline-success">Connexion</a>
                    <a href="{{ path('app_register') }}" class="btn btn-outline-success">S'inscrire</a>
                </div>
            </div>
        </div>
    </nav>

    

   
</body>
</html>