<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand " href="#"><strong>AutoRent</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">


    
     
     {# On ajoute la classe "gap-4" ici pour espacer les liens à l'intérieur #}
   <ul class="navbar-nav mx-auto navbar-links-custom-gap">
    <li class="nav-item">
      <a class="nav-link active" href="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nos Véhicules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>

     
      <div class="d-flex align-items-center">
        <a class="nav-link d-inline-block text-light nav-link me-2"chref="#">Connexion</a>
        <button class="btn btn-outline-success" type="button">S'inscrire</button>
   
      </div>
      </div>
    </div>
  
</nav>