<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand " href="#" style="font-weight: bold;">AutoRent</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarNav">
      {# 2. Les liens de navigation AU CENTRE #}
      {# La classe "mx-auto" (marge horizontale automatique) est la magie qui centre les liens #}
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos Véhicules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
        <a class="nav-link d-inline-block" href="#">Connexion</a>
        <button class="btn btn-outline-success" type="button">S'inscrire</button>
    
      </div>
      </div>
    </div>
  </div>
</nav>