<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Logo Icon.png') }}" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% include 'partials/navbar.html.twig' %}
    

       
        {% block body %}
    <main class="container-fluid">
        
        
    </main>
        
            <script src="{{ asset('js/app.js') }}"></script>
            
        {% endblock %}

        {% include 'partials/footer.html.twig' %}

        
       
      
  
</body>
</html>
