<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Logo Icon.png') }}" type="image/png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column vh-100">                
    {% include 'partials/navbar.html.twig' %}
    
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} text-center m-0" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
       
        {% block body %}
    <main class="flex-grow-1">
        
        
    </main>
        
        {% endblock %}
<footer class="mt-auto">
        {% include 'partials/footer.html.twig' %}

    </footer>     
        
  
</body>
</html>
