{% extends 'base.html.twig' %}

{% block title %}Accueil - AutoRent{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur AutoRent !</h1>
        <p>Notre nouvelle page d'accueil est en construction.</p>
    </div>
{% endblock %}